<nav>
    <div class="nav-wrapper deep-purple lighten-2">
        <a href="#" class="brand-logo">Курсы ИТ</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="/">Главная</a>
            </li>
            <li>
                <a href="/courses">Курсы</a>
            </li>
            <li>
                <a href="/add">Добавить курс</a>
            </li>
        </ul>
    </div>
</nav>